 <%= form_for [@list, @list.tasks.build], remote: true do |f| %>
<h3><div class="new">New Task</div></h3>
<h4><u>Suggestions for tasks</u></h4>

<div class="row", align=center>
  <div class="col-md-4">You have 7 days. Like The Ring.</div>
    <div class="col-md-4">Get it done.</div>
    <div class="col-md-4">The journey of a thousand miles begins with this task.</div>
  </div>
<br/>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter task name" %>
    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter task description" %>

  <div class="form-group top-padding">
    <%= f.submit "Save", class: 'btn btn-success' %>
    </div>
<% end %>
