<div class="media">
    <h4 class="media-heading">
       </h4>
<div class="media-body">
    <dl>
      <% if task.incomplete? %> 
    <dt><%= link_to (markdown task.title), [task.list, task] %></dt>
     <dd><em><%= markdown task.body %> </em></dd>
     <dd><b>Status </b><%= task.status %></dd>
   <dd><b>Days Left To Complete</b> <%= task.days_remaining %></dd>
   <% end %>
   </dl>
   
    <small>
      submitted <%= time_ago_in_words(task.created_at) %> ago
    </small>
  </div>
</div>